%header
	%nav.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-blackbg
		%a.pure-menu-heading{:href => "#"} MirrorMD
		%ul
			%li
				%a{:href => "#"} Dashboard
			%li.pure-menu-selected
				%a{:href => "#"} Graphs
			%li
				%a{:href => "#"} Create Prescription
			%li
				%a{:href => "#"} Prescription History
			%li
				%a{:href => "#"} Patient Profile


%script{:src => "javascripts/highcharts.js", :type => "text/javascript"}
%script{:src => "javascripts/highcharts-more.js", :type => "text/javascript"}
%script{:src => "javascripts/exporting.js", :type => "text/javascript"}
%script{:src => "javascripts/infoviz.js", :type => "text/javascript"}

-#row 1: Mood
%section.dashboard.pure-g-r.clearfix
	.pure-u-1.graph#moodgraph
		%a{:href => "#Mood"}
		%p Mood

%section.dashboard.pure-g-r.clearfix
	.pure-u-1.graph#Medication
		%a{:href => "#Medication"}
		%p Medication
		#calcontainer
			#calheader
				%h2 October 2013
			#daysmonth
				.week
					.day
						.daybar
							%p Su
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l2.a9
									%p 09:00 History: examination
								%li.green.l2.a9
									%p 19:00 Camp meeting							
					.day
						.daybar
							%p M
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice			
					.day
						.daybar
							%p Tu
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice		
					.day
						.daybar
							%p W
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice
					.day
						.daybar
							%p Th
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice		
					.day
						.daybar
							%p F
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice			
					.day.brn
						.daybar
							%p Sa
						.dots
							%ul
								%li.yellow
								%li.green
						-# slide open
						.open
							%ul
								%li.yellow.l1.a13
									%p 13:00 English
								%li.yellow.l1.a1
									%p 15:00 Economy
								%li.red.l2.a3
									%p 19:00 Practice
		#calcat
			.caldot.blue
				%p Personal
			.caldot.yellow
				%p Personal
			.caldot.green
				%p Personal			
			.caldot.red
				%p Personal
			
%section.dashboard.pure-g-r.clearfix
	.pure-u-1.graph#sleepgraph
		%a{:href => "#Sleep"}
		%p Sleep
			
%section.dashboard.pure-g-r.clearfix
	.pure-u-1.graph#exercisegraph
		%a{:href => "#Exercise"}
		%p Exercise