%header
	%nav.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-blackbg
		%a.pure-menu-heading{:href => "#"} MirrorMD
		%ul
			%li
				%a{:href => "#"} Dashboard
			%li.pure-menu-selected
				%a{:href => "#"} Graphs
			%li
				%a{:href => "#"} Create Prescription
			%li
				%a{:href => "#"} Prescription History
			%li
				%a{:href => "#"} Patient Profile


-#row 1: Mood
%section.dashboard.pure-g-r.clearfix
	.pure-u-1#Mood
		%a{:href => "#Mood"}
		%p Mood

%section.dashboard.pure-g-r.clearfix
	.pure-u-1#Medication
		%a{:href => "#Medication"}
		%p Medication			
			
%section.dashboard.pure-g-r.clearfix
	.pure-u-1#Sleep
		%a{:href => "#Sleep"}
		%p Sleep
			
%section.dashboard.pure-g-r.clearfix
	.pure-u-1#Exercise
		%a{:href => "#Exercise"}
		%p Exercise